// Place all the styles related to the Sales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

button {
  position: relative;
  top: -0.3em;
  left: 1em;
  padding: 4px;
  background-color: #FFF !important;
  border: none;
}
