

<div id="helpdesk-body">

  <h1>Pre-sales Requests</h1>

  <div class="container-fluid helpdesk-selector">

    <div class="row-fluid">
      <div class="span3 offset3">
        <a href="/helpdesk/new" class="btn btn-medium"><i class="icon-user"></i>New Request</a>
      </div>
      <div class="span3 offset1">
        <a href="/helpdesk/login" class="btn btn-medium"><i class="icon-calendar"></i>View Requests</a>
      </div>
    </div>

  </div>

</div>
