<div class="row-fluid">
  <div class="span4">
    <%= link_to users_path, :class => "btn btn-medium" do %><i class='icon-user'></i>Manage users<% end %>
  </div>
  <div class="span4">
    <%= link_to quarters_path, :class => "btn btn-medium" do %><i class='icon-calendar'></i> Manage quarters<% end %>
  </div>

  <div class="span4">
    <%= link_to admin_notification_path, :class => "btn btn-medium" do %><i class='icon-comment'></i> Send a notification<% end %>
  </div>
</div>
