<div class='row-fluid'>
  <div class='span12'>
    <%= link_to "â† Back to your dashboard", root_path, :class => 'btn' %>

    <h1 class='pagetitle'>New sale</h1>

    <%= render 'form' %>
  </div>
</div>
